
<form asp-action="CreateNewInventory"
      asp-controller="Personal"
      method="post">
    @Html.AntiForgeryToken()

    <div id="table-creation-step-1">
        <div class="mb-3">
            <label for="table-name" class="form-label">Inventory Name</label>
            <input type="text" class="form-control" id="table-name" name="Title">
        </div>
    </div>

    <div class="d-none" id="table-creation-step-2">
        <div id="table-fields">
            
            <div class="mb-3 d-flex align-items-center gap-3 field-row" id="field-1" data-index="0">
                <label for="field-name-1" class="form-label mb-0">Field 1</label>
                <input type="text"
                       class="form-control w-auto"
                       id="field-name-1"
                       name="Fields[0].Name"
                       placeholder="Name">
                <select class="form-select w-auto"
                        id="field-type-1"
                        name="Fields[0].Type">
                    <option value="" selected disabled>Type</option>
                    <option value="string-single">Single Line</option>
                    <option value="string-multi">Multi Line</option>
                    <option value="float">Numeric</option>
                    <option value="boolean">Checkbox</option>
                    <option value="link">Document/Image (Entered As A Link)</option>
                </select>
            </div>
        </div>

        <div class="mb-3 d-flex align-items-center">
            <button type="button" class="btn btn-primary rounded-end-0" id="add-field">Add Field</button>
            <button type="button" class="btn btn-primary disabled rounded-start-0" id="remove-field">Remove Field</button>
        </div>
    </div>

    <div class="mb-3 d-flex align-items-center justify-content-center">
        <button type="button" class="btn btn-primary d-none w-50 rounded-end-0" id="previous-btn">Previous</button>
        <button type="button" class="btn btn-primary w-100" id="next-btn">Next</button>
        <button type="submit" id="create-inventory" class="btn btn-primary d-none w-50 rounded-start-0">Create</button>
    </div>
</form>
