@{
    ViewData["Title"] = "Admin Page";
}

<h1>Hey</h1>



<table class="table">
    <thead>
    <tr>
        <th scope="col"><input class="form-check-input mt-0" type="checkbox" value="" aria-label="Checkbox for user selection"></th>
        <th scope="col">Username</th>
        <th scope="col">Inventories Created</th>
        <th scope="col">Is Admin?</th>
        <th scope="col">Registered On</th>
       
    </tr>
    </thead>
    <tbody id="table-newest-body">
    <tr>
        <td class="col-5">
            Loading...
        </td>
    </tr>

    </tbody>
</table>
<button type="button" class="btn btn-primary">Update</button>

@* TODO The admin page allows user management, including: viewing, blocking, unblocking, deleting users, adding users to the admin role, and removing them from it. *@
@* *@
@* Important: AN ADMIN CAN REMOVE ADMIN ACCESS FROM THEMSELVES. *@
@* *@
@* Admins have full access and can view all pages as if they were the creator. For example, an admin can open another user's inventory and add fields or edit items—effectively acting as the owner of every inventory. *@
@* *@
@* Only the creators (and admins) can edit their inventories (e.g., add/edit/delete fields, manage access, etc.). Creators define which users have write access (add/edit/delete) to their inventory. Creators can also mark an inventory as public, granting write access to all authenticated users. *@
@* *@
@* Items in an inventory can be modified by the creator (and admins), and any users with write access (or by all authenticated users if the inventory is public). *@