<form id="loginForm">
    <div class="mb-3">
        <label for="Email" class="form-label">Email</label>
        <input type="email" class="form-control" id="Email" name="Email" required />
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" required />
    </div>
    <button type="submit" class="btn btn-primary w-100 mb-3">Login</button>

    <div class="text-center">
        <small>Don't have an account?
            <button type="button" class="btn btn-link p-0" id="showRegister">Register</button>
        </small>
    </div>
</form>