<form id="registerForm">
    @Html.AntiForgeryToken()
    <div class="mb-3">
        <label for="Username" class="form-label">Username</label>
        <input type="text" class="form-control" id="Username" name="Username" required/>
    </div>
    <div class="mb-3">
        <label for="Password" class="form-label">Password</label>
        <input type="password" class="form-control" id="Password" name="Password" required/>
    </div>
    <div class="mb-3">
        <label for="ConfirmPassword" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="ConfirmPassword" name="ConfirmPassword" required/>
    </div>
    <button type="submit" class="btn btn-success w-100 mb-3">Register</button>

    <div class="text-center">
        <small>Already have an account?
            <button type="button" class="btn btn-link p-0" id="showLogin">Login</button>
        </small>
    </div>
</form>

