@{
    ViewData["Title"] = "Home Page";
}


<h2>Latest Inventories</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Inventory ID</th>
        <th scope="col">User ID</th>
        <th scope="col">Number Of Items</th>
       
    </tr>
    </thead>
    <tbody id="table-newest-body">
    
    </tbody>
</table>



<h2>Popular Inventories</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Inventory ID</th>
        <th scope="col">User ID</th>
        <th scope="col">Number Of Items</th>
       
    </tr>
    </thead>
    <tbody id="table-newest-body2">
    
    </tbody>
</table>



@section Scripts {
    <script src="~/js/homeScripts.js"></script>
    
}