


@{
    ViewData["Title"] = "Home Page";
}
@* TODO DO ONE PAGE A DAY, FOUR DAYS *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<h2>Latest Inventories</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Inventory ID</th>
        <th scope="col">User ID</th>
        <th scope="col">Number Of Items</th>
       
    </tr>
    </thead>
    <tbody id="table-newest-body">
    
    </tbody>
</table>
    
@* TODO MAKE THE FORMIT SUBMIT, CREATE A DB WITH NAME AND SPECIFIED FIELDS, FOR THAT FIRST SETUP CONNECTION TO THE DATABASE, ADD THE REQUIRED PACKAGES, ETC *@


<h2>Popular Inventories</h2>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Inventory ID</th>
        <th scope="col">User ID</th>
        <th scope="col">Number Of Items</th>
       
    </tr>
    </thead>
    <tbody id="table-newest-body2">
    
    </tbody>
</table>



@section Scripts {
    <script src="~/js/homeScripts.js"></script>
    
}