


@{
    ViewData["Title"] = "Home Page";
}
@* TODO DO ONE PAGE A DAY, FOUR DAYS *@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
    <div id="table-creation-step-1">
        <div class="mb-3">
            <label for="table-name" class="form-label">Inventory Name</label>
            <input type="text" class="form-control" id="table-name">

        </div>
    </div>
   
    <div class="d-none" id="table-creation-step-2">
        <div id="table-fields">
            <div class="mb-3 d-flex align-items-center gap-3" id="field-1">
                <label for="field-name-1" class="form-label mb-0">Field 1</label>
                <input type="text" class="form-control w-auto" id="field-name-1" placeholder="Name">
                <select class="form-select w-auto" id="field-type-1">
                    <option selected disabled>Type</option>
                    <option value="string">String</option>
                    <option value="integer">Integer</option>
                    <option value="boolean">Boolean</option>
                </select>
            </div>

        </div>

        <div class="mb-3 d-flex align-items-center">
            <button class="btn btn-primary" id="add-field">Add Field</button>
            <button class="btn btn-primary disabled" id="remove-field">Remove Field</button>
        </div>
        
    </div>
    
<div class="mb-3 d-flex align-items-center justify-content-center">
    <button class="btn btn-primary d-none" id="previous-btn">Previous</button>
    <button class="btn btn-primary" id="next-btn">Next</button>
    <button type="submit" id="create-inventory" class="btn btn-primary d-none">Create</button>
</div>

    
    
@* TODO MAKE THE FORMIT SUBMIT, CREATE A DB WITH NAME AND SPECIFIED FIELDS, FOR THAT FIRST SETUP CONNECTION TO THE DATABASE, ADD THE REQUIRED PACKAGES, ETC *@

@model IEnumerable<InventoryManagement.Models.Inventory>
<table>
    @foreach (var i in Model)
    {
        <tr>
            <td>@i.InventoryId</td>
            <td>@i.NumofItems</td>
            <td>@i.CreatedAt</td>
        </tr>
    }
</table>





@section Scripts {
    <script src="~/js/inventoryCreation.js"></script>
}